

  $rotationAmt: -12;
  .home-page .landing-left-section .text h1, .home-page .landing-left-section .text p {
    letter-spacing: 3px;
  }
  
  .home-page .landing-left-section .text h1, .home-page .landing-left-section .text  {
    font-size: 2em;
  }
  

  
  .home-page .landing-left-section .text span {
    position: relative;
    display: inline-block;
    cursor: default;
  }

  .specialChar{
    background-color: aqua;
  }
